scikit-learn>=1.2.0,<1.7
typing_extensions>=4.12.0
scipy>=1.11.1,<2
pandas>=1.4.0,<3
einops>=0.2.0,<0.9
huggingface-hub>=0.0.1,<1
pydantic-settings>=2.10.1
eval-type-backport>=0.2.2
yfinance
selenium
git+https://github.com/kernc/backtesting.py.git
git+https://github.com/PriorLabs/TabPFN.git